openapi: 3.0.0
info:
  version: 0.0.1
  title: VENTURA Manchester Model API
  description: This is a description of the VENTURA API
servers:
  - url: https://bingfield.drawscapes.com/
    description: this is the development api
  - url: https://venturaprodapi.com
    description: this is the production api
paths:
  /vdr_send:
    post:
      summary: runs the model
      description: runs the model using your parama
      operationId: run_model
      requestBody:
        content:
          application/json:
            schema:
              type: string
              items:
                type: integer
            example: '["1,2,3","4,5,6"]'
      responses:
        default:
          description: Default error sample response
          content:
            application/json:
              examples:
                sample response:
                  value: >-
                    [85928.04447252088,30192.871101562203,21872.593435782175,316598.2692799548,202384.76032785932,115994.51889336761,0.0,173094.54575127122,0.0,54725.09686685821,2448.943326051302,72296.34503147949,0.0,22264.051956095984,41030.61738645319,18617.006401320985,36802.44437855331,239107.62987895194,42951.302204012936,77668.90887742204,0.0,1615.107469762533,0.0,4133.50711503746,24785.287271567395,1044370.7661505908,1611716.2275087573,12239.552513469245,163465.0814092081,43179.79722874207,73700.61449070455,27693.55294430905,25106.90615084353,6626.181164380658,13073.300983959747,210750.7384532768,129588.72712019892,4058.0002201679,72715.41401527375,20744.762199545326,265916.0361995624,60922.283159540995,0.0,31062.997498134864]
